.jumbotron {
  background-color: #26522c;
  background-image: url("/assets/jumbotron-background.png");
  text-align: center;
  font-family: Lato, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
  margin-bottom: 0px;
  padding: 40px 0;
}

.jumbotron h1 {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
}

.jumbotron .subtitle {
  font-weight: 300;
  font-size: 24px;
  color: rgba(255,255,255,0.8);
  margin-bottom: 20px;
}

.jumbotron a.btn {
  border: none;
  background-color: rgba(0,0,0,0.15);
  color: #fff;
  padding: 20px 25px 20px 25px;
  margin: 15px 10px 0 10px;
  text-transform: uppercase;
}

.jumbotron a.btn:hover {
  background-color: rgba(0,0,0,0.25);
  color: #fff;
}


.open-source {
  margin: 25px 0 20px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.open-source h1 {
  margin-top: 0;
  font-weight: 300;
}

.open-source p {
  width: 50%;
  margin: auto;
  font-size: 20px;
}

.open-source .github-stars {
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

@media screen and (max-width: 365px) {
  .open-source img {
    width: 90%;
  }
}
